// Typography
$primary-fonts: 'Poppins', Helvetica, sans-serif;
$body-fonts: 'Lato', Helvetica, sans-serif;

// Colours 
$turquoise: #319fa9;
$yellow: #f8a11c;
$pink: #ffa384;
$light-yellow: #FFFDE7;
$black: #000000;
$white: #ffffff;
$grey: #727272;

//Layout 
$gap: 20px;
$page-margin: 0 100px;
$border-radius: 1.5rem;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;