@use "../config";

.btn {
    font-family: config.$primary-fonts;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.7px;
    background-color: config.$dark-turquoise;
    border: 0.2rem solid config.$dark-turquoise;
    padding: 15px 20px;
    color: config.$white;
    border-radius: 15px;
    display: block;
    text-align: center;
    width: 200px;
    cursor: pointer;
    max-width: 200px;
    transition: .2s;
}

/*----------------------------------
Media Queries
----------------------------------*/

@media (min-width: 1000px) {
    .btn:hover {
        background-color: config.$white;
        color: config.$dark-turquoise;
    }
}

@media (min-width: 1400px) {
    .btn {
        width: 250px;
        max-width: 250px;
    }
}