@use "../config";

/*----------------------------------
Get Connected
----------------------------------*/
.connect {
    background-color: config.$light-yellow;
    // align-items: center;
    // justify-content: space-around;
    // padding: 100px;
    text-align: center;
}

.connect .circles {
    width: 55%;
    margin: 0 auto;
}
.contact-info {
    // flex-direction: column;
    // gap: 20px;
}

.contact-info p {
    // font-size: 1.2rem;
}

.soc-med {
    // gap: 1rem;
    justify-content: space-evenly;
}
.soc-med .black {
    filter: invert(1);
}

/*----------------------------------
Media Queries
----------------------------------*/

@media screen and (min-width: 768px) {
    .connect {
        text-align: left;
        align-items: center;
    }

    .connect .circles {
        width: 100%;
    }

   .contact-info {
        gap: 0.5rem;
    }

    .soc-med {
        gap: 1rem;
        justify-content: start;
    }
}

@media screen and (min-width: 1024px) {
    .connect .circles {
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .connect .circles {
        width: 40%;
    }
}