@use "../config";

.glightbox-clean .gslide-title {
    font-family: config.$primary-fonts;
    margin: 0 auto;
    color: white;
}

.glightbox-clean .gslide-description {
    background: none;
}

.glightbox-clean .gdesc-inner {
    padding: 22px 0px;
}

.glightbox-container .gslide-inner-content {
    max-width: 90%;
}

.gslide-image img.zoomable {
    width: 100%;
    max-height: 85vh;
}

.glightbox-mobile .glightbox-container .gslide-description {
    padding-bottom: 0;
    text-align: center;
}

.desc-bottom .gslide-image img, .desc-top .gslide-image img {
    width: 100%;
}