@use "../config";

.large-card {
    padding: 3rem;
    gap: 2rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 3rem;
    border-radius: 2rem;
}

.large-card h1 {
   font-size: 32px;
}

.large-card ul {
    gap: 1rem;
}

.large-card p {
    margin-bottom: 20px;
}
.large-card a {
    color: config.$turquoise;
    text-decoration: none;
    font-family: config.$primary-fonts;
    font-weight: 500;
}
// .large-card {
//     grid-template-rows: repeat(4, minmax(50px 100px));
// }

// .large-card img {
//     grid-column: 2 / 7;
//     grid-row: 1 / 5;
//     width: 100%;
//     height: auto;
// }

// .large-card h1 {
//     grid-column: 7 / 12;
//     grid-row: 2 / 3;
// }

// .large-card ul {
//     grid-column: 7 / 12;
//     grid-row: 1 / 2;
// }

// .large-card p {
//     grid-column: 7 / 12;
//     grid-row: 3 / 4;
// }

// .large-card a {
//     grid-column: 7 / 12;
//     grid-row: 4 / 5;
// }


