@use "../config";


.large-card {
    padding: 3rem;
    gap: 2rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 3rem;
    border-radius: 2rem;
    flex-direction: column;
    max-width: 533px;
    margin: 0 auto;
}

.large-card h1 {
   font-size: 1.953rem;
}

.large-card ul {
    gap: 1rem;
}

.large-card p {
    margin-bottom: 20px;
}

.large-card a {
    color: config.$turquoise;
    text-decoration: none;
    font-family: config.$primary-fonts;
    font-weight: 500;
}

.large-card img {
    width: 100%;
    max-width: 437px;
}

/*----------------------------------
Media Queries
----------------------------------*/

@media screen and (min-width: 1024px) {
    .large-card {
        flex-direction: row;
        max-width: 67.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .large-card img {
        width: 80%;
    }
}