@use "../config";


.large-card {
    // padding: 2.2rem 1.75rem;
    padding: 3rem;
    gap: 2rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 3rem;
    border-radius: 2rem;
    flex-direction: column;
    max-width: 533px;
    margin: 0 auto;
    transition: 0.3s;
}

.large-card h1 {
   font-size: 1.953rem;
}

.large-card ul {
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.large-card p {
    margin-bottom: 20px;
}

.large-card a {
    color: config.$turquoise;
    text-decoration: none;
    font-family: config.$primary-fonts;
    font-weight: 500;
    position: relative;
}

.large-card img {
    width: 100%;
    max-width: 437px;
}

/*----------------------------------
Media Queries
----------------------------------*/

@media screen and (min-width: 1024px) {
    .large-card {
        flex-direction: row;
        max-width: 1280px;
    }
}

@media screen and (min-width: 1400px) {
    .large-card img {
        width: 80%;
    }

    .large-card h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .large-card a::before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 3px;
        bottom: -3px;
        left: 0;
        background-color: config.$turquoise;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    
    .large-card a:hover::before {
        visibility: visible;
        width: 100%;
    }

    .large-card:hover {
        transform: translate(0, -10px);
    }
}