@use "../config";

/*----------------------------------
Footer
----------------------------------*/
footer {
    background-color: config.$turquoise;
}

.footer {
    flex-direction: column;
    padding: 1.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    color: config.$white;
    gap: 1rem;
    margin-top: auto;
}

footer img {
    height: 44px;
    width: auto;
}

footer ul {
    gap: 1rem;
    // max-width: 284px;
}

footer p {
    color: white;
    margin: 0px;
}

/*----------------------------------
Media Queries
----------------------------------*/

@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        // padding: 1.5rem 50px;
    }
}
