@use "../config";

/*----------------------------------
Header
----------------------------------*/
header {
    align-items: center;
    position: fixed;
    background-color: config.$white;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.site-header {
    padding: 20px 30px;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

/*----------------------------------
Navigation
----------------------------------*/

.gn ul {
    gap: 2rem;
}

.gn li {
    display: inline-block;
    font-size: 1.08rem;
    font-weight: 400;
    position: relative;
}

.gn a {
	
    font-family: config.$primary-fonts;
    font-weight: 500;
    text-decoration: none;
    color: config.$black;
}

/*----------------------------------
Hamburger Toggle
----------------------------------*/

.bar {
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 18px;
    margin: 5px auto; 
    transition: all 0.3s ease-in-out;
    background-color: config.$turquoise;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: white;
    padding: 15px 0px 25px;
    box-shadow: rgb(0 0 0 / 10%) 0 12px 4px -4px;
}

.nav-menu.active {
    left: 0;
}

.nav-menu li {
    margin: 5px auto;
}

/*----------------------------------
Active Nav Indicator
----------------------------------*/
.nav-link {
    position: relative;
}

/*----------------------------------
Media Queries
----------------------------------*/

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav-menu {
        position: static;
        box-shadow: none;
        flex-direction: row;
        padding: 0px;
    }

    .nav-link[aria-current="page"]::before {
        content: '.';
        color: config.$yellow;
        display: inline-block;
        font-size: 50px;
    
        position: absolute;
        bottom: -30px;
        left: 0;
    
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .gn li::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        bottom: -3px;
        left: 0;
        background-color: config.$turquoise;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    
    li:hover::before {
        transform: scaleX(1);
    }
}

@media screen and (min-width: 1024px) {
    .site-header {
        padding: 20px 50px;
    }
}

@media screen and (min-width: 1400px) {
    .site-header {
        padding: 1.5rem 0px;
    }
}
