@use "../config";

/*----------------------------------
About Intro
----------------------------------*/

.about-intro img {
    width: 100%;
    margin: 0 auto;
}

/*----------------------------------
Skillset
----------------------------------*/

.skillset {
    background-color: config.$light-yellow;
}

.skillset h3 {
    font-size: 1.4rem;
}

.about-skills li {
    margin-bottom: 1.4rem;
    max-width: 750px;
}

.education .institute {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2rem;
    max-width: 750px;
}

.education .institute p {
    font-size: 1.4rem;
    font-family: config.$primary-fonts;
    font-weight: 500;
    margin: 0;
}

.education  li {
    margin-bottom: 1.4rem;
}

/*----------------------------------
Hobbies
----------------------------------*/

.hobbies {
    justify-content: space-evenly;
    align-items: center;
}

.hobbies li {
    margin-bottom: 1.5rem;
}

.hobbies img {
    margin: 0 auto;
    width: 30%;
}

/*----------------------------------
Media Queries
----------------------------------*/

@media screen and (min-width: 768px) {
    .hobbies {
        align-items: center;
    }
    
    .about-intro img {
        width: 80%;
    }

    .hobbies img {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
   .about-intro {
    align-items: center;
   }

   .hobbies img {
        width: 50%;
   }
}