@use "../config";

/*----------------------------------
Design Filter
----------------------------------*/

.design-filter {
    text-align: center;
}

.design-filter h1 {
    margin: 0px;
}
.design-filter ul {
    margin: 0 auto;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    visibility: hidden;
}

.design-filter ul a {
    text-decoration: none;
    color: config.$grey;
}

.design-filter ul .selected{
    color: white;
    padding: 7px 15px;
    background-color: config.$turquoise;
    border-radius: 15px;
}

.project-list .btn {
    margin: 0 auto;
    visibility: hidden;
}