@use "../config";
/*----------------------------------
Banner
----------------------------------*/
.bnr {
    text-align: center;
}

.bnr-info .btn {
    margin: 2rem auto;
}

.bnr img {
    width: 100%;
    margin: 0 auto;
}
/*----------------------------------
Skills
----------------------------------*/
.skills {
    background-color: #FFFDE7;
}

.skills h2 {
    margin: 1rem 0px;
}

.skills li {
    text-align: center;
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
}

.skills p {
    margin-bottom: 0px;
}

.skills img {
    margin-bottom: 2rem;
}

/*----------------------------------
latest work
----------------------------------*/
.latest-work {
    text-align: center;
}


.latest-work a {
    text-decoration: none;

}

.latest-work h3, p {
    color: black;
}

.latest-work li {
    text-align: left;
    cursor: pointer;
}
.latest-work li img {
    width: 100%;
}

.latest-work .btn {
    margin: 2rem auto;
}

/*----------------------------------
Media Queries
----------------------------------*/
@media screen and (min-width: 576px) {
    .bnr img {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .bnr img {
        width: 55%;
    }

    .bnr-info {
        width: 80%;
        margin: 0 auto;
    }

    .skills h3 {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px) {
    .bnr {
        align-items: center;
    }

    .bnr h1 {
        font-size: 5rem;
        line-height: 1.2rem;
    }

    .bnr p {
        width: 80%;
    }

    .bnr-info {
        width: 100%;
        text-align: left;
        // margin: 0 auto;
    }

    .bnr img {
        width: 100%;
    }

    .bnr-info .btn{
       margin: 2rem 0px 0px 0px;
    }

    .skills h3 {
        font-size: 1.2rem;
    }

    .skills img {
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .bnr img {
        width: 80%;
    }
}