@use "../config";
/*----------------------------------
Banner
----------------------------------*/
.bnr {
    text-align: center;
}

.bnr-info .btn {
    margin: 2rem auto;
}

.bnr img {
    width: 100%;
    margin: 0 auto;
}
/*----------------------------------
Skills
----------------------------------*/
.skills {
    background-color: #FFFDE7;
}

.skills h2 {
    margin: 1rem 0px;
}

.skills li {
    text-align: center;
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
}


/*----------------------------------
latest work
----------------------------------*/
.latest-work {
    text-align: center;
}


.latest-work a {
    text-decoration: none;

}

.latest-work h3, p {
    color: black;
}

.latest-work li {
    text-align: left;
    cursor: pointer;
}
.latest-work li img {
    width: 100%;
}

.latest-work .btn {
    margin: 2rem auto;
}

/*----------------------------------
Media Queries
----------------------------------*/
@media screen and (min-width: 576px) {
    .bnr img {
        width: 80%;
    }
}