@use "../config";
/*----------------------------------
Banner
----------------------------------*/
.bnr {
    text-align: center;
}

.bnr-info .btn {
    margin: 2rem auto;
}

.bnr img {
    width: 100%;
    margin: 0 auto;
}
/*----------------------------------
Skills
----------------------------------*/
.skills {
    background-color: #FFFDE7;
}

.skills h2 {
    margin: 1rem 0px;
}

.skills li {
    text-align: center;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.skills p {
    margin-bottom: 0px;
}

.skills img {
    margin-bottom: 2rem;
}

/*----------------------------------
Featured work
----------------------------------*/
.featured-work {
    text-align: center;
}

/*----------------------------------
Media Queries
----------------------------------*/
@media screen and (min-width: 576px) {
    .bnr img {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .bnr img {
        width: 55%;
    }

    .bnr-info {
        width: 80%;
        margin: 0 auto;
    }

    .skills h3 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .bnr .areas {
        font-size: 1.5rem;
        margin: 0;
    }

    .bnr h1 {
        font-size: 6.5rem;
        line-height: 7.1rem;
        margin: 0.5rem 0 4rem;
        letter-spacing: 0.15rem;
    }

    .bnr p {
        width: 95%;
    }

    .bnr-info {
        width: 100%;
        text-align: left;
    }

    .bnr img {
        width: 100%;
    }

    .bnr-info .btn{
       margin: 3rem 0px 0px 0px;
    }

    .skills li:hover {
        transform: translate(0, -10px);
    }

    .skills img {
        width: 50%;
        margin-bottom: 4rem;
    }
}

@media screen and (min-width: 1400px) {
 
    .featured-work ul {
        margin: 0 auto;
    }
}