@use "../config";

.ac-preview {
    border-radius: 0px 0px 10px 10px;
    filter: drop-shadow(6px 10px 8px rgba(50, 50, 93, 0.25));
    width: 100%;
    margin: 0 auto;
}

.ac-replit {
    width: 100%;
    height: 60vh;
}

@media screen and (min-width: 768px) {
    .ac-preview {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .ac-preview {
        width: 100%;
    }
}