@use "../config";

.ex-link {
    color: #277E86;
}

/*----------------------------------
Project banner
----------------------------------*/
.project-bnr {
    background-color: config.$light-yellow;
    position: relative;
    overflow: hidden;
}

.proj-bnr-info ul {
    gap: 1rem;
}


.project-info ul {
    justify-content: space-between;
}

.proj-bnr-info p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

figure {
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

figure img {
    width: 100%;
    transition: 0.3s ease-in-out;
    
}

figure:hover {
    transform: scale(1.02);
}

.more-proj {
    margin: 5rem auto
}

.project-info h4 {
    font-size: 1.2rem;
}

/*----------------------------------
Project info
----------------------------------*/
.project-info h3 {
    font-size: 1.3rem;
}


// Project Summary 

.project-summary .num1, .num2, .num3 {
    font-size: 1.8rem;
    font-family: config.$primary-fonts;
    font-weight: 500;
}
.project-summary .num1 {
    color: config.$yellow;
}

.project-summary .num2 {
    color: config.$turquoise;
}

.project-summary .num3 {
    color: config.$pink;
}

/*----------------------------------
Media Queries
----------------------------------*/

@media screen and (min-width: 1024px) {
    .proj-bnr-info p {
        width: 90%;
    }

    .project-info h3, .project-summary h3 {
        font-size: 2rem;
    }
}
