@use "../config";

.tliving-web-preview {
    border-radius: 0px 0px 10px 10px;
    filter: drop-shadow(6px 10px 8px rgba(50, 50, 93, 0.25));
    width: 100%;
    margin: 0 auto;
}

.tliving-final-poster {
    order: 2;
}

.tliving-og-landing {
    order: 2
}

.tliving-new-landing {
    order: 3
}

.tliving .btn {
    margin: 5rem auto;
}

/*----------------------------------
Media Queries
----------------------------------*/
@media screen and (min-width: 576px) {
    .tliving-web-preview {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .tliving-web-preview {
        width: 100%;
    }

    .tliving-final-poster {
        order: -2;
    }
    .tliving-og-landing {
        order: -2;
    }

    .tliving-new-landing {
        margin-top: 3rem;
    }
}