@use "../config";

.tliving-preview-img {
    height: auto;
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
    top: 20%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.tliving-final-poster {
    order: 2;
}

.tliving-og-landing {
    order: 2
}

.tliving-new-landing {
    order: 3
}

.tliving .btn {
    margin: 5rem auto;
}

/*----------------------------------
Media Queries
----------------------------------*/

@media screen and (min-width: 768px) {
    .tliving-preview-img {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .tliving-preview-img {
        position: absolute;
        width: 100%;
        top: 20%;
        grid-column: 7 / 12;
    }

    .tliving-final-poster {
        order: -2;
    }
    .tliving-og-landing {
        order: -2;
    }

    .tliving-new-landing {
        margin-top: 3rem;
    }
}