// base text, imag estyles, visual styles, font size, 
@use "../config"; 

section {
    padding: 1rem;
}

.bul-list li::before {
    content: "\2022";
    color: config.$turquoise;
    font-weight: bold;
    display: inline-block; 
    width: 1.5em;
    // margin-left: -1em;
}

@media screen and (min-width: 576px) {
    section {
        padding: 4rem;
    }
}