@use "../config"; 

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    padding: 2rem 1rem;
}

.bul-list {
    margin-bottom: 1rem;
    text-indent: -28px;
    padding-left: 28px;
}

.bul-list li::before {
    content: "\2022";
    color: config.$turquoise;
    font-weight: bold;
    display: inline-block; 
    width: 0.5em;
    padding-left: 28px;
}

a:focus {
    outline: none;
}

@media screen and (min-width: 576px) {
    section {
        padding: 3rem 2rem;
    }
}

@media screen and (min-width: 768px) {
    section {
        padding: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    section {
        padding: 4rem;
    }
}

@media screen and (min-width: 1440px) {
    section {
        margin: 0 auto;
    }
}