@use "../config";

/*----------------------------------
Headings
----------------------------------*/

h1, h2, h3 {
    margin-bottom: 1.25rem;
    font-family: config.$primary-fonts;
}

h2, h3, h4, h5 {
    font-weight: 600;
}

h4, h5 {
    font-family: config.$primary-fonts;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.052rem;
    line-height: 1.5;
}

h2 {
    font-size: 2.441rem;
    line-height: 1.4;
}

h3 {
    font-size: 1.953rem;
    line-height: 1.4;
    margin: 5px 0;
}

h4 {
    font-size: 1.563rem;
    color: config.$grey;
    margin: 5px 0;
    line-height: 1.4;
}

h5 {
    font-size: 1.25rem;
}


/*----------------------------------
Typography
----------------------------------*/
li, p, figcaption {
    font-size: 1rem;
    line-height: 1.5;
    font-family: config.$body-fonts;
    line-height: 1.3;
}

figcaption {
    font-style: italic;
    text-align: center;
    margin: 1rem;
}   

p {
    margin-bottom: 1rem;
}

code {
    color: crimson;
    background-color: #f1f1f1;
    font-size: 1rem;
    line-height: 1.5;
    line-height: 1.3;
}

// /*----------------------------------
// Media Queries
// ----------------------------------*/

@media screen and (min-width: 576px) {
   
    h1 {
        font-size: 3.243rem;
    }
    
    h2 {
        font-size: 2.595rem;
    }
    
    h3 {
        font-size: 2.076rem;
    }
    
    h4 {
        font-size: 1.661rem;
    }
    
    h5 {
        font-size: 1.329rem;
    }

    li, p, figcaption, a {
        // font-size -> 17px
        font-size: 1.063rem
    }
}

@media screen and (min-width: 768px) {

    h1 {
        font-size: 3.432rem;
    }
    
    h2 {
        font-size: 2.746rem;
    }
    
    h3 {
        font-size: 2.197rem;
    }
    
    h4 {
        font-size: 1.758rem;
    }
    
    h5 {
        font-size: 1.406rem;
    }

    li, p, figcaption, a {
        // font size = 18px
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 1024px) {

    h1 {
        font-size: 3.625rem;
    }
    
    h2 {
        font-size: 2.900rem;
    }
    
    h3 {
        font-size: 2.320rem;
    }
    
    h4 {
        font-size: 1.856rem;
    }
    
    h5 {
        font-size: 1.485rem;
    }

    li, p, figcaption, a {
        // equivalent to 19px
        font-size: 1.188rem;
    }
}

@media screen and (min-width: 1200px) {

    h1 {
        font-size: 3.814rem;
    }
    
    h2 {
        font-size: 3.052rem;
    }
    
    h3 {
        font-size: 2.441rem;
    }
    
    h4 {
        font-size: 1.953rem;
    }
    
    h5 {
        font-size: 1.562rem;
    }

    li, p, figcaption, a {
        // equal to 20px
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1400px) {

    h1 {
        font-size: 4.007rem;
    }
    
    h2 {
        font-size: 3.206rem;
    }
    
    h3 {
        font-size: 2.564rem;
    }
    
    h4 {
        font-size: 2.052rem;
    }
    
    h5 {
        font-size: 1.641rem;
    }

    li, p, figcaption, a {
        // equal to 21px
        font-size: 1.313rem;
    }
}