

// theme wrap, display flex, text center 

/*----------------------------------
Global
----------------------------------*/

.theme-wrap {
    // max-width: 90vw;
    margin: 0 auto;
}

// section {
//     padding: 75px 0px;
// }

/*----------------------------------
Grid
----------------------------------*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem 0rem;
}

// .col {
//     grid-column: auto / span 12; 
// }

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}
.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}


/*----------------------------------
Helper Classes
----------------------------------*/

.d-flex {
	display: flex;
}

.flex-middle {
    align-content: center;
}

.flex-end {
    justify-content: end;
}

.container {
    max-width: 67.5rem;
    width: 100%;
    margin: 0 auto;
    // padding: 0px 1rem;
}

.m-top {
    margin-top: 7rem;
}

.p-top {
    padding-top: 6rem;
}

.align-items-center {
    align-items: center;
}

.box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (min-width: 576px) {
    .p-top {
        padding-top: 4rem;
    }

    .grid {
        gap: 2rem;
    }
}